<template lang="html">
<main>
  <h1 class="page-heading">Dashboard</h1>

  <!-- Article Heading & Create Button -->
  <TableHeading title="Latest Articles" link="articles" cy="createArticle" section="Articles"/>
  <!-- Table -->
  <ArticlesTable :articles="articles"/>
  <!-- See All  -->
  <SeeAllButton cy="seeAllArticles" section="articles" title="Articles"/>

  <!-- Outlines Heading & Create Button -->
  <TableHeading title="Latest Project Outlines" link="projectoutlines" cy="createProjectOutline" section="Project Outlines"/>
  <!-- Table -->
  <OutlinesTable :outlines="outlines"/>
  <!-- See All -->
  <SeeAllButton cy="seeAllProjectOutlines" section="projectoutlines" title="Project Outlines"/>

  <!-- Heading & Create Button -->
  <TableHeading title="Latest Project Examples" link="projectexamples" cy="createProjectExample" section="Project Examples"/>
  <!-- Table -->
  <ExamplesTable :examples="examples"/>
  <!-- See All -->
  <SeeAllButton cy="seeAllProjectExamples" section="projectexamples" title="Project Examples"/>

</main>
</template>

<script>
import TableHeading from '~/components/TableHeading.vue'
import SeeAllButton from '~/components/SeeAllButton.vue'
import ArticlesTable from '~/components/ArticlesTable.vue'
import ExamplesTable from '~/components/ExamplesTable.vue'
import OutlinesTable from '~/components/OutlinesTable.vue'
import title from '~/assets/mixins/title.js'
import { mapState } from 'vuex'

export default {
  middleware: 'auth',
  mixins: [
    title('Dashboard')
  ],
  components: {
    TableHeading,
    ArticlesTable,
    ExamplesTable,
    OutlinesTable,
    SeeAllButton
  },
  computed: {
    ...mapState({
      // Only get 5 of objects from the state to display in the table
      articles: state => state.articles.articles.slice(0,5),
      outlines: state => state.projectoutlines.outlines.slice(0,5),
      examples: state => state.projectexamples.examples.slice(0,5)
    }),
  },
  fetch() {
    // Go and fetch the articles from the api in the store action
    this.$store.dispatch("articles/viewArticles")
    this.$store.dispatch("projectexamples/viewExamples")
    this.$store.dispatch('projectoutlines/viewOutlines')
  }
}
</script>
