@mixin headings($txt-size) {
  font-size: $txt-size;
  color: $clr-blue;
  font-weight: $fw-bold;
}

/* Article & Example Card */
@mixin card() {
  box-shadow: 0 2.3px 2.3px 0 rgba(0, 0, 0, 0.25);
  padding: 2em 2em 2em;

  img {
    height: 199.2px;
  }

  img, h2, p, a {
    margin-bottom: .5em;
  }

  a:last-child {
    &:hover {
      text-decoration: underline;
    }
    @include headings(1.3rem);

    @include laptop {
      font-size: 1.5rem;
    }
  }
}

@mixin page-heading() {
  color: $clr-white;
  font-family: $font-headings;
  font-weight: $fw-normal;
}

/* Media Queries */
@mixin ipad($width: 767px) {
  @media(min-width: $width) {
    @content;
  }
}

@mixin laptop($width: 1152px) {
  @media(min-width: $width) {
    @content;
  }
}

/* Navbar Hover */
@mixin nav-hover() {
  text-decoration: underline;
  text-decoration-color: $clr-blue;
  text-decoration-thickness: 0.2em;
}

/* Contaier makes content stay in center */
@mixin container($padding: 2em) {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding: $padding;
}

/* Common Flex property */
@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

/* Hover over card */
@mixin hover() {
  /* When user hovers over card make that card go bigger by scaling it */
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
}
