/* Colours */
$clr-blue: #026b9b;
$clr-white: #ffffff;
$clr-black: #000000;
$clr-black-txt: #373737;
$clr-grey-txt: #767474;

/* Font Family */
$font-headings: 'ZCOOL KuaiLe', cursive;
$font-text: 'Open Sans', sans-serif;

/* Font Weights */
$fw-normal: 400;
$fw-semi: 600;
$fw-bold: 700;

/* Box Shadow */
$box-sd: 0 2.3px 2.3px 0 rgba(0, 0, 0, 0.25);

/* Margin */
$m-1: 1em;
$m-2: 2em;
