.create {
  border: none;
  font-size: 1.1rem;
  padding: .4em .5em;
  background: #219E1E;
  color: $clr-white;

  @include ipad {
    font-size: 1.4rem;
  }

  @include laptop {
    font-size: 1.6rem;
  }
}
