.error {
  color: red;
  font-size: 1.2rem;
  @include ipad {
    font-size: 1.3rem;
  }
  /*
  As there is uneven margin from the title to input so therefore
  move the error above by .5em to make the spacing even
  */
  position: relative;
  bottom: .4em;
}
