.seeAll {
  border: none;
  background: none;
  color: $clr-blue;
  margin-bottom: $m-2;
  @include laptop {
    margin-bottom: 3em;
  }
  /* Make button align to the right */
  width: 100%;
  text-align: right;
  margin-top: .3em;

  &:after {
    content: '';
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: .5em;
    background: url('../img/arrow.svg');
    background-size: 100% 100%;
    height: 20px;
    width: 15px;
  }
}
