<template lang="html">
  <main>
    <h1>Add Project Examples</h1>
    <form @submit.prevent="submitForm">

      <!-- Title -->
      <label for="title">Title</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.title.required">Title is required</p>
      <input id="title" type="text" v-model="title" data-cy="title">

      <!-- Outline -->
      <label for="outline">Outline</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.outline.required">Outline is required</p>
      <textarea id="outline" name="outline" v-model="outline" data-cy="outline"></textarea>

      <!-- Category -->
      <label for="category">Category</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.category.required">Category is required</p>
      <input id="category" type="text" v-model="category" data-cy="category">

      <!-- Skills -->
      <!-- As user can input many skills so delete and add button have been added  -->
      <label for="skills">Skills</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.skills.required">Skills is required</p>
      <input id="skills" type="text" v-model="skills" data-cy="skills">

      <!-- Image  -->
      <label for="image">Image</label>
      <input id="image" type="file" data-cy="image-input" @change="onFileSelected">
      <img v-if="image ":src="image" alt="hello">

      <!-- Image Alt Tag -->
      <label for="alt">Alternate text for the image</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.alt.required">Alternate image text is required</p>
      <input id="alt" type="text" v-model="alt" data-cy="alt">

      <!-- Content -->
      <label for="content">Content</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.content.required">Content is required</p>
      <textarea id="content" name="name" v-model="content" data-cy="content"></textarea>

      <!-- Video -->
      <label for="video">Youtube Embed Video Link</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.video.required">Video Link is required</p>
      <input id="video" v-model="video" type="text" data-cy="video">

      <!-- Submit -->
      <button data-cy="submit" class="publish-button">Publish</button>
    </form>
  </main>
</template>

<script>
import Vue from 'vue'
import Vuelidate from 'vuelidate'
Vue.use(Vuelidate)
import { required } from 'vuelidate/lib/validators'
import title from '~/assets/mixins/title.js'
import upload from '~/assets/mixins/upload'

export default {
  middleware: 'auth',
  mixins: [
    title('Create Project Examples'),
    upload
  ],
  data() {
    return {
      title: '',
      outline: '',
      category: '',
      skills: '',
      image: '',
      alt: '',
      content: '',
      video: '',
      submitStatus: null
    }
  },
  validations: {
    title: {
      required
    },
    outline: {
      required
    },
    category: {
      required
    },
    skills: {
      required
    },
    alt: {
      required
    },
    content: {
      required
    },
    video: {
      required
    }
  },
  methods: {
    createExample() {
      this.$store.dispatch('projectexamples/createExample', {
        user_id: this.$auth.user.id,
        author: this.$auth.user.name,
        title: this.title,
        outline: this.outline,
        category: this.category,
        skills: this.skills,
        image: this.image,
        alt: this.alt,
        content: this.content,
        video: this.video,
        timestamp: new Date().getTime()
      }).then(this.$router.push({path: '/staff/projectexamples'}))
    },
    submitForm() {
      this.$v.$touch() //On submit check the validation status of the fields
      if (this.$v.$invalid) { //If any of the model fields are invalid
        this.submitStatus = 'ERROR' //Assign submitStatus to error
      } else {
        //If form is valid run the function
        this.createExample()
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
