<template lang="html">
  <main>
    <TableHeading title="All Project Examples" link="projectexamples" cy="createProjectExample" section="Project Example"/>
    <ExamplesTable :examples="examples"/>
  </main>
</template>

<script>
import TableHeading from '~/components/TableHeading.vue'
import ExamplesTable from '~/components/ExamplesTable.vue'
import { mapState } from 'vuex'
import title from '~/assets/mixins/title.js'

export default {
  middleware: 'auth',
  mixins: [
    title('Project Examples')
  ],
  fetch() {
    // Go and fetch the example from the api in the store action
    this.$store.dispatch('projectexamples/viewExamples')
  },
  components: {
    ExamplesTable,
    TableHeading
  },
  computed: {
    ...mapState({
      // Getting the state from the store
      examples: state => state.projectexamples.examples
    })
  },
  fetch() {
    // Go and fetch the example from the api in the store action
    this.$store.dispatch('projectexamples/viewExamples')
    }
  }

</script>

<style lang="css" scoped>
</style>
