<template lang="html">
<main class="flex-center">
  <section class="login">
    <h1>Student Login</h1>
    <form @submit.prevent="submitForm">
      <label for="email">Please enter your Edge Hill email</label>
      <!-- If there are any errors then this paragraph will show  -->
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.email.required">Email is required</p>
      <input id="email" data-cy="email" v-model="email" type="email">
      <button data-cy="submit" type="submit">Login</button>
    </form>
  </section>
</main>
</template>

<script>
import Vue from 'vue'
import Vuelidate from 'vuelidate'
Vue.use(Vuelidate)
import { required } from 'vuelidate/lib/validators'
import title from '~/assets/mixins/title.js'

export default {
  mixins: [
    title('Student Login')
  ],
  data() {
    return {
      email: '',
      submitStatus: null
    }
  },
  validations: {
    email: {
      required,
    }
  },
  methods: {
    submitForm() {
      this.$v.$touch() //On submit check the validation status of the fields
      if (this.$v.$invalid) { //If any of the model fields are invalid
        this.submitStatus = 'ERROR' //Assign submitStatus to error
      } else {
        //If form is valid run the store action
        this.$store.dispatch("authstudent/checkEmail", this.email)
      }
    }
  }
 }


</script>

<style lang="css" scoped>
</style>
