/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; //Easy for px to rem converison
  height: 100%;
}

body {
  font-family: $font-text;
}

.page-container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
}

main {
  /* Make content stay in the middle */
  @include container;
  padding-bottom: 5em;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: .5em;
  @include ipad {
    font-size: 3rem;
  }
}

h2 {
  @include headings(2.1rem);

  @include laptop {
    font-size: 2.5rem;
  }

  line-height: 1.2;
}

p, a, li, input, label, button, td, textarea {
  line-height: 1.6;
  font-size: 1.4rem;

  @include laptop {
    font-size: 1.6rem;
  }
}

p {
  color: $clr-black-txt;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input, textarea {
  padding: .3em;
  border: 1px solid #B8B8B8;
}

input, button, textarea {
  border-radius: .3em;
}

img {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 20vh;
    margin-bottom: 1.5em;

    @include ipad {
      height: 30vh;
      width: 30vw;
    }
  }
}

label {
  margin-bottom: .3em;
}

input, textarea {
  margin-bottom: 1.5em;

  &:last-of-type {
    margin-bottom: $m-2;
  }
}

textarea {
  height: 150px;
}

button {
  cursor: pointer;
}
