<template lang="html">
<main>
  <h1>Login</h1>
  <form @submit.prevent="submitForm">
    <!-- Email -->
    <label for="email">Email</label>
    <input id="email" v-model="email" type="email" data-cy="email">
    <!-- Email Required  -->
    <p class="error" v-if="submitStatus === 'ERROR' && !$v.email.required">Email is required</p>
    <!-- Password -->
    <label for="password">Password</label>
    <input id="password" v-model="password" type="password" data-cy="password">
    <!-- Password Required  -->
    <p class="error" v-if="submitStatus === 'ERROR' && !$v.password.required">Password is required</p>
    <!-- Submit -->
    <button data-cy="submit" type="submit">Login</button>
  </form>
  <!-- Sign up button  -->
  <p>
    Don't Have Account? <nuxt-link data-cy="signUp" to="/staff/register">Sign Up</nuxt-link>
  </p>
</main>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import title from '~/assets/mixins/title.js'
import Vue from 'vue'
import { mapActions } from 'vuex'
import Vuelidate from 'vuelidate'
Vue.use(Vuelidate)

export default {
  mixins: [
    title('Staff Login')
  ],
  data() {
    return {
      email: '',
      password: '',
      error: '',
      submitStatus: null
    }
  },
  //Validations rules for the form
  validations: {
    email: {
      required
    },
    password: {
      required
    }
  },
  methods: {
   async loginUser() {
     try {
       await this.$auth.login({
         data: {
           email: this.email,
           password: this.password
         }
       })
       this.$router.push('/staff/dashboard')
     }
     catch(error) {
       this.$toast.global.myerror()
       this.email = '',
       this.password = ''
     }
    },
    submitForm() {
      this.$v.$touch() //On submit check the validation status of the fields
      if (this.$v.$invalid) { //If any of the model fields are invalid
        this.submitStatus = 'ERROR' //Assign submitStatus to error
      } else {
        //If form is valid run the function
        this.loginUser()
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
