<template lang="html">
<main>
  <h1>Edit Project Outline - {{outline.title}}</h1>
  <form @submit.prevent="updateOutline">
    <!-- Title -->
    <label for="title">Title</label>
    <input id="title" type="text" v-model="outline.title" data-cy="title">

    <!-- Room -->
    <label for="room">Office Room</label>
    <input id="room" type="text" v-model="outline.room" data-cy="room">

    <!-- Degree -->
    <label for="degree">Degree</label>
    <input id="degree" type="text" v-model="outline.degree" data-cy="degree">

    <!-- Outline -->
    <label for="outline">Outline</label>
    <textarea id="outline" name="outline"  v-model="outline.outline" data-cy="outline"></textarea>

    <!-- Link -->
    <label for="link">Additional Information Link</label>
    <input id="link" type="text" v-model="outline.link" data-cy="link">

    <!-- PDF -->
    <label for="pdf">PDF</label>
    <input id="pdf" type="file" data-cy="pdf-input" @change="onFileSelected">

    <!-- Submit -->
    <button data-cy="submit" type="submit" class="publish-button">Update</button>
  </form>
</main>
</template>

<script>
import { mapState } from 'vuex'

export default {
  middleware: 'auth',
  head () {
    return {
      title: 'Edit Project Outline - ' + this.outline.title
    }
  },
  methods: {
    updateOutline() {
      this.$store.dispatch('projectoutlines/updateOutline', {
        id: this.outline.id,
        user_id: this.$auth.user.id,
        supervisor: this.$auth.user.name,
        email: this.$auth.user.email,
        title: this.outline.title,
        room: this.outline.room,
        degree: this.outline.degree,
        outline: this.outline.outline,
        link: this.outline.link,
        pdf: this.outline.pdf,
        timestamp: this.outline.timestamp
      }).then(this.$router.push({path: '/staff/projectoutlines/' + this.$route.params.id}))
    },
    //Turns the file into a base64 to store in json
    onFileSelected(e) {
      var file = e.target.files[0];//Get file from input
      var reader = new FileReader();//Turn file into base 64
      reader.onloadend = () => {
        this.outline.pdf = reader.result;
      }
      reader.readAsDataURL(file);
    }
  },
  mounted() {
    //Pass the id to the store show articles method to get the article
    this.$store.dispatch("projectoutlines/showOutline", this.$route.params.id);
  },
  computed: {
  ...mapState({
    //Getting the state from the store
    outline: state => state.projectoutlines.outline
  })
 }
}
</script>

<style lang="css" scoped>
</style>
