<template lang="html">
  <Home/>
</template>

<script>
import Home from '../../components/Home.vue'
import title from '~/assets/mixins/title.js'
import { Fragment } from 'vue-fragment'

export default {
  components: {
    Home
  }
}
</script>
