<template lang="html">
  <ShowArticle/>
</template>

<script>
import ShowArticle from '~/components/ShowArticle.vue'

export default {
  middleware: 'auth',
  components: {
    ShowArticle
  }
}

</script>
