<template lang="html">
<main>
  <h1>Add Article</h1>
  <form @submit.prevent="submitForm">

    <!-- Title -->
    <label for="title">Title</label>
    <input id="title" type="text" v-model="title" data-cy="title">
    <p class="error" v-if="submitStatus === 'ERROR' && !$v.title.required">Title is required</p>

    <!-- Content -->
    <label for="content">Content</label>
    <textarea name="content" id="content" type="text" v-model="content" data-cy="content"></textarea>
    <p class="error" v-if="submitStatus === 'ERROR' && !$v.content.required">Content is required</p>

    <!-- Image -->
    <label for="image">Image</label>
    <input id="image" type="file" data-cy="image-input" @change="onFileSelected">
    <img v-if="this.image" :src="this.image"/>

    <!-- Image Alt Tag -->
    <label for="alt">Alternate text for the image</label>
    <input id="alt" type="text" data-cy="alt" v-model="alt">
    <p class="error" v-if="submitStatus === 'ERROR' && !$v.alt.required">Alternate image text is required</p>

    <!-- PDF -->
    <label for="pdf">PDF</label>
    <input id="pdf" type="file" data-cy="pdf-input" @change="onFileSelected">
    
    <!-- Submit -->
    <button data-cy="submit" type="submit" class="publish-button">Publish</button>
  </form>
</main>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import title from '~/assets/mixins/title.js'
import upload from '~/assets/mixins/upload'
Vue.use(Vuelidate)

export default {
  middleware: 'auth',
  mixins: [
    title('Create Article'),
    upload
  ],
  data() {
    return {
      title: '',
      content: '',
      image: '',
      alt: '',
      pdf: '',
      submitStatus: null
    }
  },
  //Validations rules for the form
  validations: {
    title: {
      required
    },
    content: {
      required
    },
    alt: {
      required
    }
  },
  methods: {
    createArticle() {
        this.$store.dispatch('articles/createArticle', {
          user_id: this.$auth.user.id,
          author: this.$auth.user.name,
          title: this.title,
          content: this.content,
          image: this.image,
          alt: this.alt,
          pdf: this.pdf,
          timestamp: new Date().getTime()
        }).then(this.$router.push({path: '/staff/articles'}))
      },
      submitForm() {
        this.$v.$touch() //On submit check the validation status of the fields
        if (this.$v.$invalid) { //If any of the model fields are invalid
          this.submitStatus = 'ERROR' //Assign submitStatus to error
        } else {
          //If form is valid run the function
          this.createArticle()
        }
      }
    }
}
</script>

<style lang="css" scoped>
</style>
