<template lang="html">
<main>
  <TableHeading title="All Articles" link="articles" cy="createArticle" section="Article"/>
  <ArticlesTable :articles="articles"/>
</main>
</template>

<script>
import { mapState } from 'vuex'
import ArticlesTable from '~/components/ArticlesTable.vue'
import TableHeading from '~/components/TableHeading.vue'
import title from '~/assets/mixins/title.js'

export default {
  middleware: 'auth',
  mixins: [
    title('Articles')
  ],
  components: {
    ArticlesTable,
    TableHeading
  },
  computed: {
    ...mapState({
      // Getting the state from the store
      articles: state => state.articles.articles
    }),
  },
  fetch() {
    // Go and fetch the articles from the api in the store action
    this.$store.dispatch("articles/viewArticles")
  }
}
</script>
