<template lang="html">
  <ShowExample/>
</template>

<script>
import ShowExample from '~/components/ShowExample.vue'

export default {
  middleware: 'studentAuthenticated',
  components: {
    ShowExample
  }
}
</script>

<style lang="css" scoped>
</style>
