<template lang="html">
  <main>
    <h1 class="page-heading">Project Examples</h1>
    <!-- Displaying the examples in the component -->
    <Example/>
  </main>
</template>

<script>
import Example from '../../../components/Example.vue'
import title from '~/assets/mixins/title.js'

export default {
  middleware: 'studentAuthenticated',
  components: {
    Example, //Example component which displays all the examples
  },
  mixins: [
    title('Project Examples')
  ],
  fetch() {
    this.$store.dispatch('projectexamples/viewExamples')
  }
}
</script>

<style lang="css" scoped>
</style>
