<template>
  <div class="page-container">
    <NavBar/>
    <nuxt/>
    <Footer/>
  </div>
</template>

<script>
import NavBar from '../components/NavBar.vue'
import Footer from '../components/Footer.vue'

export default {
  components: {
    NavBar,
    Footer
  }
}
</script>

<style lang="css" scoped>
</style>
