<template lang="html">
  <main>
    <!-- Display error code  -->
    <h1>{{error.statusCode}} Not Found</h1>
    <!-- Back to home -->
    <nuxt-link to="/articles">Back To Home</nuxt-link>
  </main>
</template>

<script>
export default {
  props: {
    error: {
      type: Object, //Get the type of error
      default: null
    }
  }
}
</script>

<style lang="css" scoped>
</style>
