.blogs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: $m-2;
  @include laptop {
  }

  .blog-card {
    @include hover;
    @include card;
  }
}

.about {
  background: $clr-blue;
  width: 100%;
  height: 35vh;
  @include flex;

  @include ipad {
    height: 30vh;
  }

  @include laptop {
    height: 45vh;
  }

  p {
    @include container($m-1);
    color: $clr-white;
    font-weight: $fw-normal;

    @include ipad {
      font-size: 2rem;
    }

    span {
      font-weight: $fw-bold;
    }
  }
}
