.blog-content {
  margin: 0 auto;
  width: 85vw;

  @include laptop {
    width: 55vw;
    margin-top: $m-2;
  }
  object {
    width: 100%;
    height: 90vh;
    @include laptop {
      height: 100vh;
    }
    margin-top: 5em;

    p {
      margin-top: $m-2;
      a:hover {
        text-decoration: none;
      }
    }
  }
   embed {
     height: 50vh;
   }
}
