table {
  width: 100%;
  /* Removes gaps between td */
  border-collapse: collapse;

  th {
    font-size: 1.5rem;
    padding: .3em;
    @include laptop {
      font-size: 1.8rem;
    }
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:first-child {
    border-bottom: 1px solid $clr-black;
  }

  td {
    text-align: center;
  }

  td:first-of-type,
  th:first-of-type {
    text-align: left;
    padding: .3em;
  }
  /*
  So all the columns are the same width as if the title is long
  then there all the columns are uneven
  */
  td:first-of-type {
    max-width: 100px;
  }


  td:first-of-type > a:first-child {
    font-weight: $fw-semi;

    p:hover {
      color: $clr-blue;
    }

    @include laptop {
      font-size: 1.8rem;
    }

  }

  td:first-of-type > p:last-child {
    font-size: 1rem;

    @include laptop {
      font-size: 1.3rem;
    }
  }
}

.table-heading {
  display: flex;
  justify-content: space-between;

  h2 {
    color: $clr-black;
  }
}
