
.example-card {
  @include hover;
  @include card();
  margin-bottom: $m-2;
  p:first-of-type {
    color: $clr-grey-txt;
    font-weight: $fw-bold;
  }

  @include ipad {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* To display all the content on the right in line */
    grid-template-rows: repeat(4, auto);
    grid-column-gap: $m-2;

    .exampleImg {
      grid-column: 1/2;
      grid-row: 1/-1;
    }

    h2, a:first-child {
      /* Resetting margin made for other layout */
      margin: 0;
    }

    img  {
      @include ipad {
        margin-bottom: 0!important;
      }
    }
  }

  /*
  Because the img is wrapped in link the a tag
  will target the image so therefore target the last
  child which is the read more link
  */
  img,h2, p, a:last-child {
    grid-column: 2/3;
  }
}
