.example-content {
  h1 {
    font-size: 2.5rem;
    text-align: left;
    color: $clr-black;

    @include ipad {
    text-align: center;

    &:after {
      content: '';
      display: block;
      margin: .5em auto 0;
      background: $clr-blue;
      height: 3px;
      width: 100px;
    }
  }
}

  h2 {
    font-size: 1.6rem;
    margin-bottom: .4em;
  }

  img {
    height: 25vh;

    @include ipad {
      height: 40vh;
    }

    @include laptop {
      height: 60vh;
    }
  }

  h1, section, img, p, iframe {
    margin-bottom: $m-1;
  }

  iframe {
    display: block;
    margin: 2.5em auto 0;
    width: 100%;
    height: 25vh;

    @media (min-width: 500px) {
      height: 45vh;
    }

    @include ipad {
      width: 70vw;
      height: 35vh;
    }

    @include laptop {
      max-width: 800px;
      width: 45vw;
      height: 50vh;
    }
  }
}

.example-details {
  display: grid;
  grid-template-columns: 45vw repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 5em;

  div {
    &:first-child {
      grid-column: 1/-1;

      @include ipad {
        grid-column: 1/2;
      }
    }

    li {
      list-style: disc;
      margin-left: 1em;
    }
  }
}
