footer {
  background: $clr-blue;
  /* Styling */
  padding: 1em 3em;
  width: 100%;
  /* Puts the footer at the top of it's row */
  align-self: end;


  h2, a, p {
    color: $clr-white;
  }

  h2 {
    margin-right: .2em;
    font-weight: $fw-semi;
  }

  p {
    margin-top: 1em;
  }

  a:hover {
    border-bottom: 3px solid $clr-white;
  }

  section {
    @include ipad {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /*
      Changing padding as it is too big on footer which is
      set in mixin
      */
      @include container(1em 2em);
    }
  }

    p {
      /* Inline with the bottom link on quicklinks */
      grid-row-start: 2;
      align-self: flex-end;
    }
    h2, nav {
      margin-left: auto;
      grid-column: 2/3;
    }
  }
