.hero {
  height: 25vh;
  background-color: $clr-blue;
  text-align: center;
  @include flex;

  @include ipad {
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5em;

    @include laptop {
      margin-bottom: 0;
      height: 450px;
    }
}

  h1 {
    @include page-heading;
    font-size: 3.5rem;
    padding: 0 $m-2;

    @include ipad {
      text-align: left;
      font-size: 5rem;
      margin: 0;
      height: 45vh;
      display: flex;
      align-items: center;
      background: $clr-blue;
      width: 55vw;
      grid-column: 1/2;
      grid-row-start: 1;
      /* Clips a polygon off the right side of the section */
      clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    }

    @include laptop {
      height: 450px;
      padding-left: 3em;
    }
  }

  img {
    display: none;

    @include ipad {
      display: block;
      grid-row-start: 1;
      /*
      Image span full width of page altought the title background
      overlaps half of it using grid
      */
      grid-column: 1/-1;
      min-height: 100%;
      height: 40vh;
    }
  }
}
