.flex-center {
  /* Center the login form */
  @include flex;
  flex-direction: column;
}
.login {
  margin-top: 3em;
  padding: 3em 5em 5em;
  border: 1px solid #CDCDCD;
  @include ipad {
    width: 400px;
  }


  h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: $fw-semi;
    margin-bottom: $m-1;
    color: $clr-black;
  }

  /* Errors */
  p {
    color: red;
  }

  button {
    background: $clr-blue;
    color: $clr-white;
    width: 100%;
    padding: .3em;
    text-align: center;
    border: none;
    cursor: pointer;
  }
}

.signUp {
  color: $clr-grey-txt;
  text-align: center;
  margin: $m-1 0 2em;

  a {
    color: $clr-blue;
    font-weight: $fw-semi;
  }
}
