.navbar {
  padding: $m-1;
  width: 100%;
  box-shadow: $box-sd;
  background-color: $clr-white;
  z-index: 1;

  @include ipad {
    padding: $m-1;
  }

  nav {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 300px;

    @include ipad {
      @include container(0);
      @include flex(space-between)
      padding: 0 $m-2;
    }
  }

  ul {
    padding-top: $m-1;
    display: none;

    @include ipad {
      display: flex;
      /* Reset from above */
      padding-top: 0;
    }
  }

  li > a,
  li > button {
    font-weight: $fw-semi;
     color: $clr-black;
     padding: .5em $m-2;
     display: block;

     @include ipad {
       padding-right: 0;
     }
  }

  .hamburger-img {
    width: 25px;
    height: 25px;
    @include ipad {
      display: none;
    }
  }

  button {
    border: none;
    background: none;
  }

  button.hamburger {
    position: absolute;
    top: 25px;
    right: 20px;
  }

  li > a:hover {
    background-color: $clr-blue;
  }
    /*
    Because the logo is a link altough does not have a hover state so therefore
    target only the nav elemnts on hover
    */
    li > a:hover,
    button:hover {
    color: $clr-white;
    @include ipad {
      /* Resetting values */
      background-color: $clr-white;
      color: $clr-black;
      @include nav-hover;
    }

  }

  @include ipad {
    li > .nuxt-link-exact-active{
      @include nav-hover;
    }
  }

  h1 {
    text-align: center;
    color: $clr-blue;
    font-family: $font-headings;
    font-weight: $fw-normal;
    font-size: 3rem;
    margin: 0;
  }
}
