.outline-card {
  @include hover;
  padding: 1.5em;
  box-shadow: $box-sd;
  margin-bottom: $m-2;

  a {
    font-size: 1.4rem;
    color: $clr-blue;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  div {
    @include flex(space-between)
    @include ipad {
      justify-content: flex-start;

      p,a {
        margin-right: $m-2;
      }
    }
    margin: .5em 0;

    p:first-child,
    p:last-child {
      color: $clr-grey-txt;
    }

    p:first-child {
      font-weight: $fw-bold;
    }

  }

  section {

    a {
      transition: all .5s ease-in-out;

      /*
      When a user hovers over the download link move the link down to show the action of
      a download
      */
      &:hover {
        transform: translateY(3px)
      }
   }
 }
}

.addinfo {
  font-weight: $fw-semi;
  margin: .5em 0 0;
}
