<template lang="html">
  <fragment>

    <!-- Title -->
    <label for="title">Title</label>
    <input id="title" type="text" v-model="article.title" data-cy="title">
    <!-- Content -->
    <label for="content">Content</label>
    <textarea name="content" id="content" type="text" v-model="article.content" data-cy="content"></textarea>
    <!-- Image -->
    <label for="image">Image</label>
    <input id="image" type="file" data-cy="image-input" @change="onFileSelected">
    <!-- Image Alt Tag -->
    <label for="alt">Alternate text for the image</label>
    <input id="alt" type="text" data-cy="alt" v-model="article.alt">
    <!-- PDF -->
    <label for="pdf">PDF</label>
    <input id="pdf" type="file" data-cy="pdf-input" @change="onFileSelected">

</template>

<script>
export default {
  props: ['article', 'upd']
}
</script>

<style lang="css" scoped>
</style>
