<template lang="html">
  <section class="blogs">
    <!-- If there are no articles in the state display this message  -->
    <p v-if="!articles.length">No Articles Created Yet</p>
    <article class="blog-card" v-for="article in articles" :key="article.id">
      <!-- Image -->
      <nuxt-link :to="'articles/' + article.id">
        <img data-cy="articleImg" :src="article.image" :alt="article.alt">
      </nuxt-link>
      <!-- Title -->
      <nuxt-link :to="'articles/' + article.id">
        <h2 data-cy="articleTitle">{{article.title}}</h2>
      </nuxt-link>
      <!-- First approx 50 words  -->
      <p data-cy="articleContent">{{article.content.slice(0,156)}}...</p>
      <!-- Read more link  -->
      <nuxt-link data-cy="readMore" :to="'articles/' + article.id">Read More</nuxt-link>
    </article>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Article',
  computed: {
  ...mapState({
    //Getting the state from the store
    articles: state => state.articles.articles
  })
 }
}
</script>

<style lang="css" scoped>
</style>
