<template lang="html">
  <section>
    <table data-cy="ArticlesTable">
      <tbody>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr v-for="article in filteredArticles" :key="article.id">
          <td>
            <nuxt-link :to="'articles/' + article.id">
              <p>{{article.title}}</p>
            </nuxt-link>
            <p>Created At: {{$moment(article.timestamp)}}</p>
          </td>
          <td>{{article.author}}</td>
          <td>
            <nuxt-link :to="'/staff/articles/edit/' + article.id">
             <img class="editDelete" data-cy="editArticle" src="~/assets/img/edit.svg" alt="edit icon">
            </nuxt-link>
          </td>
          <td>
            <img class="editDelete" @click="deleteArticle(article)" data-cy="delete" src="~/assets/img/delete.svg" alt="delete icon">
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ArticlesTable',
  data() {
    return {
      auth: ''
    }
  },
  props: ['articles'],
  computed: {
    filteredArticles: function() {
      return this.articles.filter((articles) => {
        // Only display the articles that belong to the user_id that is currenlty logged in
        return articles.user_id === this.$auth.user.id;
      })
    }
  },
  methods: {
    deleteArticle(article) {
      let response = confirm("Are you sure you want to delete " + article.title)
      if(response) {
        this.$store.dispatch('articles/deleteArticle', article)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
