<template lang="html">
  <table data-cy="ProjectExamplesTable">
    <tbody>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="example in filteredExamples" :key="example.id">
        <td>
          <nuxt-link :to="'projectexamples/' + example.id">
            <p>{{example.title}}</p>
          </nuxt-link>
          <p>Created At: {{$moment(example.timestamp)}}</p>
        </td>
        <td>{{example.author}}</td>
        <td>
          <nuxt-link :to="'/staff/projectexamples/edit/' + example.id">
            <img data-cy="editProjectExample" class="editDelete" src="~/assets/img/edit.svg" alt="edit icon">
          </nuxt-link>
        </td>
        <td>
          <img @click="deleteExample(example)"  data-cy="delete" class="editDelete" src="~/assets/img/delete.svg" alt="delete icon">
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ExamplesTable',
  props: ['examples'],
  computed: {
    filteredExamples: function() {
      return this.examples.filter((examples) => {
        // Only display the articles that belong to the user_id that is currenlty logged in
        return examples.user_id === this.$auth.user.id;
      })
    }
  },
  methods: {
    deleteExample(example) {
      let response = confirm("Are you sure you want to delete " + example.title)
      if(response) {
        this.$store.dispatch('projectexamples/deleteExample', example)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
