<template lang="html">
  <section class="examples-layout">
    <!-- If there are no examples in the state display this message  -->
    <p v-if="!examples.length">No Project Examples Created Yet</p>
    <article class="example-card" v-for="example in examples" :key="example.id">
      <!-- Image -->
      <nuxt-link :to="'projectexamples/' + example.id" class="exampleImg">
        <img data-cy="exampleImg" :src="example.image" :alt="example.alt">
      </nuxt-link>
      <!-- Title -->
      <nuxt-link :to="'projectexamples/' + example.id">
        <h2 data-cy="exampleTitle">{{example.title}}</h2>
      </nuxt-link>
      <!-- Category -->
      <p>{{example.category}}</p>
      <!-- Outline -->
      <p>{{example.outline}}</p>
      <!-- Read more link  -->
      <nuxt-link :to="'projectexamples/' + example.id" data-cy="readMore">Read More</nuxt-link>
    </article>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Example',
  computed: {
  ...mapState({
    //Getting the state from the store
    examples: state => state.projectexamples.examples
  })
 }
}
</script>

<style lang="css" scoped>
</style>
