<template lang="html">
  <footer>
  <section>
     <h2>Quicklinks</h2>
      <nav>
        <ul>
          <NavLinks/>
          <!-- Staff/Logout  -->
            <!-- If user is not logged in show the staff link  -->
            <li v-if="!this.$auth.loggedIn">
              <nuxt-link data-cy="staff" to="/staff/login">Staff</nuxt-link>
            </li>
        </ul>
      </nav>
      <p>Matthew Hoare &copy; {{year}}</p>
    </section>
  </footer>
</template>

<script>
import NavLinks from '~/components/NavLinks.vue'

export default {
  name: 'Footer',
  components: {
    NavLinks
  },
  data() {
    return {
      // Get todays date and then get the year from that date
      year: new Date().getFullYear()

    }
  },
  methods: {
    // Send the path of the link to store to redirect to requested path
    redirectLogin: function(link) {
      this.$store.dispatch('authstudent/redirectPath', link)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
