<template lang="html">
  <div>
    <section class="about">
      <p>
        A <span>final year project</span> is an independent piece of work that is a non-taught module which is undertaken in your final year of study in semester two.
        This website provides you with the information that will support to understand what a project is and how to do one. It presents a list of <span>project outlines</span> supplied by
        supervisors and examples of previous student’s <span>project work</span>.
      </p>
    </section>
    <main>
      <h1 class="page-heading">Articles</h1>
      <!-- Displaying the article component -->
      <Article/>
    </main>
  </div>
</template>

<script>
import Article from '../components/Article.vue'
import title from '~/assets/mixins/title.js'
import { Fragment } from 'vue-fragment'

export default {
  components: {
    Article, //Article component which displays all the articles
    Fragment
  },
  mixins: [
    title('Articles')
  ],
  //Call the viewArticles in the store
  created() {
    this.$store.dispatch("articles/viewArticles")
  }
}
</script>
