<template lang="html">
  <header class="navbar">
    <nav>

    <!-- Logo  -->
      <!-- Student -->
      <nuxt-link v-if="!this.$auth.loggedIn" to="/articles">
        <h1>Project Bizarre</h1>
      </nuxt-link>
      <!-- Staff -->
      <nuxt-link v-if="this.$auth.loggedIn" to="/staff/dashboard">
        <h1>Project Bizarre</h1>
      </nuxt-link>

      <ul id="mobileNav">

      <!-- Using the links which are also in the quick links section  -->
      <NavLinks/>

      <!-- Staff/Logout  -->
        <!-- If user is not logged in show the staff link  -->
        <li v-if="!this.$auth.loggedIn">
          <nuxt-link data-cy="staff" to="/staff/login">Staff</nuxt-link>
        </li>
        <!-- If user is logged in show the logout link  -->
        <li v-if="this.$auth.loggedIn">
          <button data-cy="logout" @click="$auth.logout()">Logout</button>
        </li>
      </ul>
    </nav>

    <!-- Hamburger  -->
    <button class="hamburger" @click="mobileNav" title="Hambuger Icon">
      <img src="~/assets/img/hamburger.svg" alt="hamburger icon" class="hamburger-img">
    </button>

  </header>
</template>

<script>
import NavLinks from '~/components/NavLinks.vue'

export default {
  name: 'NavBar',
  components: {
    NavLinks
  },
  methods: {
    mobileNav: function() {
    var x = document.getElementById("mobileNav");
    // If style is block that means the user had the menu open and close it by displaying none
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      // If not the menu is not open show display block to show it to user
      x.style.display = "block";
    }
  }
  }
}
</script>

<style lang="css" scoped>
</style>
