<template lang="html">
  <fragment>
    <!-- Articles -->
      <!-- Student -->
      <li v-if="!this.$auth.loggedIn">
        <nuxt-link to="/articles">Articles</nuxt-link>
      </li>
      <!-- Staff -->
      <li v-if="this.$auth.loggedIn">
        <nuxt-link to="/staff/articles">Articles</nuxt-link>
      </li>

    <!-- Project Outlines -->
      <!-- Student  -->
      <!-- When link is clicked send the path resequested to the redirect login function  -->
      <li v-if="!this.$auth.loggedIn" @click="redirectLogin('/student/projectoutlines')">
        <nuxt-link data-cy="ProjectOutlines" to="/student/projectoutlines">Project Outlines</nuxt-link>
      </li>
      <!-- Staff  -->
      <li v-if="this.$auth.loggedIn">
        <nuxt-link data-cy="ProjectOutlines" to="/staff/projectoutlines">Project Outlines</nuxt-link>
      </li>

    <!-- Project Examples  -->
      <!-- Student  -->
      <li v-if="!this.$auth.loggedIn" @click="redirectLogin('/student/projectexamples')">
        <nuxt-link data-cy="ProjectExamples" to="/student/projectexamples">Project Examples</nuxt-link>
      </li>
      <!-- Staff  -->
      <li v-if="this.$auth.loggedIn">
        <nuxt-link data-cy="ProjectExamples" to="/staff/projectexamples">Project Examples</nuxt-link>
      </li>
  </fragment>
</template>

<script>
import { Fragment } from 'vue-fragment'

export default {
  name: 'NavLinks',
  components: {
    Fragment
  },
  methods: {
    // Send the path of the link to store to redirect to requested path
    redirectLogin: function(link) {
      this.$store.dispatch('authstudent/redirectPath', link)
    }
  }
}
</script>

<style lang="css" scoped>
</style>
