<template lang="html">
  <section>
    <!-- If there are no articles in the state display this message  -->
    <p v-if="!outlines.length">No Outlines Created Yet</p>
    <section class="dropdown">
      <!-- Degree dropdown  -->
      <label for="degree">Degree:</label>
      <select id="degree" v-model="degree">
        <option v-for="degree in outlines" :key="degree.id">{{degree.degree}}</option>
      </select>
    </section>
    <!-- Project Outline -->
    <article class="outline-card" v-for="outline in filteredDegree" :key="outline.id">
      <ShowOutline :outline="outline"/>
    </article>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import ShowOutline from '~/components/ShowOutline.vue'

export default {
  name: 'Outline',
  data() {
    return {
      degree: ''
    }
  },
  components: {
    ShowOutline
  },
  computed: {
    ...mapState({
      // Getting the state from the store
      outlines: state => state.projectoutlines.outlines
    }),
    filteredDegree: function(){
      //If no degree has been selected show all outlines
      if(this.degree == '') {
        return this.outlines;
      }
      return this.outlines.filter((outlines) => {
        //Show the outlines that match the degree selected
        return outlines.degree === this.degree;
      });
    }
  }
}
</script>

<style lang="css" scoped>
</style>
