<template lang="html">
  <table data-cy="ProjectOutlinesTable">
    <tbody>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="outline in filteredOutlines" :key="outline.id">
        <td>
          <nuxt-link :to="'projectoutlines/' + outline.id">
            <p>{{outline.title}}</p>
          </nuxt-link>
          <p>Created At: {{$moment(outline.timestamp)}}</p>
        </td>
        <td>{{outline.supervisor}}</td>
        <td>
          <nuxt-link :to="'/staff/projectoutlines/edit/' + outline.id">
            <img class="editDelete" data-cy="editProjectOutline" src="~/assets/img/edit.svg" alt="edit icon">
          </nuxt-link>
        </td>
        <td>
          <img class="editDelete" @click="deleteOutline(outline)" data-cy="delete" src="~/assets/img/delete.svg" alt="delete icon">
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'OutlinesTable',
  props: ['outlines'],
  computed: {
    filteredOutlines: function() {
      return this.outlines.filter((outlines) => {
        // Only display the articles that belong to the user_id that is currenlty logged in
        return outlines.user_id === this.$auth.user.id;
      })
    }
  },
  methods: {
    deleteOutline(outline) {
      let response = confirm("Are you sure you want to delete " + outline.title)
      if(response) {
        this.$store.dispatch('projectoutlines/deleteOutline', outline)
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
