<template lang="html">
  <nuxt-link :to="'/staff/' + section">
    <button :data-cy="cy" class="seeAll">See All {{title}}</button>
  </nuxt-link>
</template>

<script>
export default {
  name: 'ShowAllButton',
  props: ['cy', 'section', 'title']
}
</script>
