<template lang="html">
  <fragment>
    <h2>{{outline.title}}</h2>
    <!-- To display items togehter in a line  -->
    <div>
      <p>{{outline.supervisor}}</p>
      <!-- When student clicks on email the staff member email & the project title name will already be inputted for them -->
      <a data-cy="sendEmail" :href="'mailto:' + outline.email + '?subject=' + outline.title">{{outline.email}}</a>
      <p>{{outline.room}}</p>
    </div>
    <!-- Outline -->
    <p>{{outline.outline}}</p>
    <!-- Additonal Information -->
    <p class="addinfo">Additonal Information</p>
    <a :href="outline.link" download target="_blank">{{outline.link}}</a>
    <!-- PDF Upload  -->
    <!-- Check is supervisor has uploaded pdf of outlines is so display it  -->
    <section v-if="outline.pdf">
      <a :href="outline.pdf">Click Here To Download Outlines</a>
    </section>
  </fragment>
</template>

<script>
import { Fragment } from 'vue-fragment'

export default {
  name: 'ShowOutline',
  components: {
    Fragment
  },
  props: ['outline']
}
</script>

<style lang="css" scoped>
</style>
