<template lang="html">
  <div>
    <section class="hero">
      <h1>{{article.title}}</h1>
      <img :src="article.image" :alt="article.alt">
    </section>
    <main class="blog-content">
      <p style="white-space: pre-line">{{article.content}}</p>
      <!-- If author has inputted a pdf then show it here  -->
      <section v-if="article.pdf">
        <object :data="article.pdf" width="100%" height="800">
          <!-- Give the user the option to download the pdf if they cannot see it  -->
          <p v-if="article.pdf">If tutorial doesn't open you can <a :href="article.pdf" download>click here</a> to download</p>
          <embed :src="article.pdf"> </embed>
        </object>
      </section>
    </main>
  </div>
</template>

<script>
import { Fragment } from 'vue-fragment'
import { mapState } from 'vuex'

export default {
  name: 'ShowArticle',
  components: {
    Fragment
  },
  head () {
    return {
      title: this.article.title
    }
  },
  mounted() {
    //Pass the id to the store show articles method to get the article
    this.$store.dispatch("articles/showArticle", this.$route.params.id);
  },
  computed: {
  ...mapState({
    //Getting the state from the store
    article: state => state.articles.article
  })
 }
}

</script>

<style lang="css" scoped>
</style>
