<template lang="html">
  <main class="example-content">
    <!-- Title -->
    <h1>{{example.title}}</h1>
    <section class="example-details">
      <!-- Outline -->
      <div>
        <h2>Outline</h2>
        <p>{{example.outline}}</p>
      </div>
      <!-- Skills -->
      <div>
        <h2>Skills</h2>
        <p>{{example.skills}}</p>
      </div>
      <!-- Category -->
      <div>
        <h2>Category</h2>
        <p>{{example.category}}</p>
      </div>
    </section>
    <!-- Image -->
    <img :src="example.image" :alt="example.alt">
    <!-- Description -->
    <h2>Description</h2>
    <p>{{example.content}}</p>
    <!-- Video -->
    <iframe :src="example.video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </main>
</template>

<script>
import { mapState } from 'vuex'

export default {
  head () {
    return {
      title: this.example.title
    }
  },
  mounted() {
    //Pass the id to the store show articles method to get the project examole
    this.$store.dispatch("projectexamples/showExample", this.$route.params.id);
  },
  computed: {
  ...mapState({
    //Getting the state from the store
    example: state => state.projectexamples.example
  })
 }
}
</script>

<style lang="css" scoped>
</style>
