<template lang="html">
  <section class="table-heading">
    <h1>{{title}}</h1>
    <nuxt-link :to="'/staff/' + link + '/create'">
      <button :data-cy="cy" class="create">Create {{section}}</button>
    </nuxt-link>
  </section>
</template>

<script>
export default {
  name: 'TableHeading',
  props: ['title', 'link', 'cy', 'section']
}
</script>

<style lang="css" scoped>
</style>
