<template lang="html">
<main>
  <h1>Edit Project Example - {{example.title}}</h1>
  <form @submit.prevent="updateExample">

    <!-- Title -->
    <label for="title">Title</label>
    <input id="title" type="text" v-model="example.title" data-cy="title">

    <!-- Outline -->
    <label for="outline">Outline</label>
    <textarea id="outline" name="outline" v-model="example.outline" data-cy="outline"></textarea>

    <!-- Category -->
    <label for="category">Category</label>
    <input id="category" type="text" v-model="example.category" data-cy="category">

    <!-- Skills -->
    <!-- As user can input many skills so delete and add button have been added  -->
    <label for="skills">Skills</label>
    <input id="skills" type="text" v-model="example.skills" data-cy="skills">

    <!-- Image  -->
    <label for="image">Image</label>
    <input id="image" type="file" data-cy="image-input" @change="onFileSelected">
    <img v-if="example.image" :src="example.image" :alt="example.alt">

    <!-- Image Alt Tag -->
    <label for="alt">Alternate text for the image</label>
    <input id="alt" type="text" v-model="example.alt" data-cy="alt">

    <!-- Content -->
    <label for="content">Content</label>
    <textarea id="content" name="name" v-model="example.content" data-cy="content"></textarea>

    <!-- Video -->
    <label for="video">Youtube Embed Video Link</label>
    <input id="video" v-model="example.video" type="text" data-cy="video">

    <!-- Submit -->
    <button data-cy="submit" class="publish-button">Publish</button>
  </form>
</main>
</template>

<script>
import { mapState } from 'vuex'

export default {
  middleware: 'auth',
  head () {
    return {
      title: 'Edit Project Example - ' + this.example.title
    }
  },
  methods: {
    updateExample() {
      this.$store.dispatch('projectexamples/updateExample', {
        id: this.example.id,
        user_id: this.$auth.user.id,
        author: this.$auth.user.name,
        title: this.example.title,
        outline: this.example.outline,
        category: this.example.category,
        skills: this.example.skills,
        image: this.example.image,
        alt: this.example.alt,
        content: this.example.content,
        video: this.example.video,
        timestamp: this.example.timestamp
      }).then(this.$router.push({path: '/staff/projectexamples/' + this.$route.params.id}))
    },
    //Turns the file into a base64 to store in json
    onFileSelected(e) {
      var file = e.target.files[0];//Get file from input
      var reader = new FileReader();//Turn file into base 64
      reader.onloadend = () => {
        this.example.image = URL.createObjectURL(file)
        this.example.image = reader.result;
      }
      reader.readAsDataURL(file);
    }
  },
  mounted() {
    //Pass the id to the store show articles method to get the article
    this.$store.dispatch("projectexamples/showExample", this.$route.params.id);
  },
  computed: {
  ...mapState({
    //Getting the state from the store
    example: state => state.projectexamples.example
  })
 }
}
</script>
