<template lang="html">
  <main>
    <h1>{{outline.title}}</h1>
    <article class="outline-card">
      <ShowOutline :outline="outline"/>
    </article>
  </main>
</template>

<script>
import { mapState } from 'vuex'
import ShowOutline from '~/components/ShowOutline.vue'

export default {
  middleware: 'auth',
  head () {
    return {
      title: this.outline.title
    }
  },
  components: {
    ShowOutline
  },
  mounted() {
    //Pass the id to the store show articles method to get the article
    this.$store.dispatch("projectoutlines/showOutline", this.$route.params.id);
  },
  computed: {
  ...mapState({
    //Getting the state from the store
    outline: state => state.projectoutlines.outline
  })
 }
}
</script>

<style lang="css" scoped>
</style>
