<template lang="html">
  <main>
    <h1>Add Project Outlines</h1>
    <form @submit.prevent="submitForm">

      <!-- Title -->
      <label for="title">Title</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.title.required">Title is required</p>
      <input id="title" type="text" v-model="title" data-cy="title">

      <!-- Room -->
      <label for="room">Office Room</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.room.required">Office Room is required</p>
      <input id="room" type="text" v-model="room" data-cy="room">

      <!-- Degree -->
      <label for="degree">Degree</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.degree.required">Degree is required</p>
      <input id="degree" type="text" v-model="degree" data-cy="degree">

      <!-- Outline -->
      <label for="outline">Outline</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.outline.required">Outline is required</p>
      <textarea id="outline" name="outline"  v-model="outline" data-cy="outline"></textarea>

      <!-- Link -->
      <label for="link">Additional Information Link</label>
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.link.required">Link is required</p>
      <input id="link" type="text" v-model="link" data-cy="link">

      <!-- PDF -->
      <label for="pdf">PDF</label>
      <input id="pdf" type="file" data-cy="pdf-input" @change="onFileSelected">

      <!-- Submit -->
      <button data-cy="submit" type="submit" class="publish-button">Publish</button>
    </form>
  </main>
</template>

<script>
import Vue from 'vue'
import Vuelidate from 'vuelidate'
Vue.use(Vuelidate)
import { required } from 'vuelidate/lib/validators'
import title from '~/assets/mixins/title.js'
import upload from '~/assets/mixins/upload'

export default {
  middleware: 'auth',
  mixins: [
    title('Create Project Outlines'),
    upload
  ],
  data() {
    return {
      title: '',
      room: '',
      degree: '',
      outline: '',
      link: '',
      pdf: '',
      submitStatus: null
    }
  },
  validations: {
    title: {
      required
    },
    room: {
      required
    },
    degree: {
      required
    },
    outline: {
      required
    },
    link: {
      required
    }
  },
  methods: {
    createOutline() {
      this.$store.dispatch('projectoutlines/createOutline', {
        user_id: this.$auth.user.id,
        supervisor: this.$auth.user.name,
        email: this.$auth.user.email,
        title: this.title,
        room: this.room,
        degree: this.degree,
        outline: this.outline,
        link: this.link,
        pdf: this.pdf,
        timestamp: new Date().getTime()
      }).then(this.$router.push({path: '/staff/projectoutlines'}))
    },
    submitForm() {
      this.$v.$touch() //On submit check the validation status of the fields
      if (this.$v.$invalid) { //If any of the model fields are invalid
        this.submitStatus = 'ERROR' //Assign submitStatus to error
      } else {
        //If form is valid run the function
        this.createOutline()
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>
