<template lang="html">
  <main>
    <TableHeading title="All Project Outlines" link="projectoutlines" cy="createProjectOutline" section="Project Outline"/>
    <OutlinesTable :outlines="outlines"/>
  </main>
</template>

<script>
import TableHeading from '~/components/TableHeading.vue'
import OutlinesTable from '~/components/OutlinesTable.vue'
import { mapState } from 'vuex'
import title from '~/assets/mixins/title.js'

export default {
  middleware: 'auth',
  mixins: [
    title('Project Outlines')
  ],
  components: {
    OutlinesTable,
    TableHeading
  },
  computed: {
    ...mapState({
      // Getting the state from the store
      outlines: state => state.projectoutlines.outlines
    })
  },
  fetch() {
    // Go and fetch the outlines from the api in the store action
    this.$store.dispatch('projectoutlines/viewOutlines')
  }
}
</script>

<style lang="css" scoped>
</style>
