<template lang="html">
<main class="flex-center">
  <section class="login">
    <h1>Register</h1>
    <form @submit.prevent="submitForm">
      <!-- Name -->
      <label for="name">Name</label>
      <!-- Name Required  -->
      <!-- If the form is submitted and contains an error and the name field is empty show required message  -->
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.name.required">Name is required</p>
      <input id="name" v-model.trim="$v.name.$model" type="text" data-cy="name">
      <!-- Email -->
      <label for="email">Email</label>
      <!-- Email Required  -->
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.email.required">Email is required</p>
      <input id="email" v-model="email" type="email" data-cy="email">
      <!-- Password -->
      <label for="password">Password</label>
      <!-- Password Required  -->
      <p class="error" v-if="submitStatus === 'ERROR' && !$v.password.required">Password is required</p>
      <input id="password" v-model="password" type="password" data-cy="password">
      <!-- Submit -->
      <button data-cy="submit" type="submit">Sign Up</button>
    </form>
  </section>
</main>
</template>


<script>
import { required } from 'vuelidate/lib/validators'
import title from '~/assets/mixins/title.js'
import Vue from 'vue'
import { mapActions } from 'vuex'
import Vuelidate from 'vuelidate'
Vue.use(Vuelidate)

export default {
  mixins: [
    title('Register')
  ],
  data() {
    return {
      name: '',
      email: '',
      password: '',
      submitStatus: null
    }
  },
  //Validations rules for the form
  validations: {
    name: {
      required
    },
    email: {
      required
    },
    password: {
      required
    }
  },
  methods: {
   async registerUser() {
     try {
      await this.$store.dispatch('authstaff/saveUser', {
       name: this.name,
       email: this.email,
       password: this.password
     })
     this.$auth.login({
       data: {
         email: this.email,
         password: this.password
       }
     })
     this.$router.push('/staff/dashboard')
    }
     catch(error) {
       //Shows a toast at the bottom of the screen showing a error has occured
       this.$toast.global.myerror()
       this.email = '',
       this.password = ''
     }
    },
    submitForm() {
      this.$v.$touch() //On submit check the validation status of the fields
      if (this.$v.$invalid) { //If any of the model fields are invalid
        this.submitStatus = 'ERROR' //Assign submitStatus to error
      } else {
        //If form is valid run the function
        this.registerUser()
      }
    }
  }
}
</script>

<style lang="css" scoped>

</style>
