<template lang="html">
<main>
  <h1>Edit Article - {{article.title}}</h1>
  <form @submit.prevent="updateArticle">
    <!-- Title -->
    <label for="title">Title</label>
    <input id="title" type="text" v-model="article.title" data-cy="title">
    <!-- Content -->
    <label for="content">Content</label>
    <textarea name="content" id="content" type="text" v-model="article.content" data-cy="content"></textarea>
    <!-- Image -->
    <label for="image">Image</label>
    <input id="image" type="file" data-cy="image-input" @change="onFileSelected">
    <img v-if="article.image" :src="article.image" :alt="article.alt"/>
    <!-- Image Alt Tag -->
    <label for="alt">Alternate text for the image</label>
    <input id="alt" type="text" data-cy="alt" v-model="article.alt">
    <!-- PDF -->
    <label for="pdf">PDF</label>
    <input id="pdf" type="file" data-cy="pdf-input" @change="onFileSelected">
    <!-- Submit -->
    <button data-cy="submit" type="submit" class="publish-button">Update</button>
  </form>
</main>
</template>

<script>
import { mapState } from 'vuex'
import { required } from 'vuelidate/lib/validators'
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import title from '~/assets/mixins/title.js'
Vue.use(Vuelidate)

export default {

  middleware: 'auth',
  head () {
    return {
      title: 'Edit Article - ' + this.article.title
    }
  },
  methods: {
    updateArticle() {
        this.$store.dispatch('articles/updateArticle', {
          id: this.article.id,
          user_id: this.$auth.user.id,
          author: this.$auth.user.name,
          title: this.article.title,
          content: this.article.content,
          image: this.article.image,
          alt: this.article.alt,
          pdf: this.article.pdf,
          timestamp: this.article.timestamp
        }).then(this.$router.push({path: '/staff/articles/' + this.$route.params.id}))
      },
    //Turns the file into a base64 to store in json
    onFileSelected(e) {
      var file = e.target.files[0];//Get file from input
      var reader = new FileReader();//Turn file into base 64
      //Check the file size is not too big
      if(file.size > 1024 * 1024) {
        e.preventDefault();
         alert('This image is too large (> 1MB)');
         return;
      }
      //If file type is jpeg or png then assign this to selected file
      if(file['type'] === 'image/jpeg' || file['type'] === 'image/png') {
        reader.onloadend = () => {
          this.article.image = URL.createObjectURL(file)
          this.article.image = reader.result;
        }
      }
      //If file type of pdf then assign this to pdf
        else {
        reader.onloadend = () => {
          this.article.pdf = reader.result;
        }
       }
      reader.readAsDataURL(file);
    }
  },
  mounted() {
    //Pass the id to the store show articles method to get the article
    this.$store.dispatch("articles/showArticle", this.$route.params.id);
  },
  computed: {
  ...mapState({
    //Getting the state from the store
    article: state => state.articles.article
  })
 }
}

</script>

<style lang="css" scoped>
</style>
