<template lang="html">
  <main class="outline-main">
    <!-- Heading -->
    <h1 class="page-heading">Project Outlines</h1>
    <Outline/>
  </main>
</template>

<script>
import Outline from '../../../components/Outline.vue'
import title from '~/assets/mixins/title.js'

export default {
  middleware: 'studentAuthenticated',
  components: {
    Outline
  },
  mixins: [
    title('Project Outlines')
  ],
  fetch() {
    // Go and fetch the outlines from the api in the store action2
    this.$store.dispatch('projectoutlines/viewOutlines')
  }
}
</script>

<style lang="css" scoped>
</style>
